public net.minecraft.client.gui.screens.options.OptionsSubScreen list
public-f net.minecraft.network.chat.MutableComponent contents
public-f net.minecraft.network.chat.contents.TranslatableContents args
public-f net.minecraft.network.chat.MutableComponent contents
public net.minecraft.client.gui.screens.multiplayer.WarningScreen message
public net.minecraft.client.multiplayer.ClientPacketListener signedMessageEncoder
public net.minecraft.client.multiplayer.ClientPacketListener chatSession
public net.minecraft.client.gui.components.Tooltip MAX_WIDTH
public net.minecraft.client.gui.components.Tooltip message
public net.minecraft.client.gui.components.Tooltip narration
public net.minecraft.client.gui.components.Tooltip cachedTooltip
public net.minecraft.client.gui.screens.Screen minecraft
public net.minecraft.client.gui.screens.Screen itemRenderer
public net.minecraft.client.gui.screens.Screen font
public-f net.minecraft.client.gui.components.AbstractWidget tooltip
#public net.minecraft.client.gui.components.AbstractWidget tooltipMsDelay
public net.minecraft.client.gui.screens.options.OptionsScreen TELEMETRY

public net.minecraft.client.gui.components.Tooltip <init>(Lnet/minecraft/network/chat/Component;Lnet/minecraft/network/chat/Component;)V
#public-f net.minecraft.client.gui.components.AbstractWidget updateTooltip()V
#public-f net.minecraft.client.gui.components.CycleButton updateTooltip()V

public-f net.minecraft.client.gui.components.AbstractWidget render(Lnet/minecraft/client/gui/GuiGraphics;IIF)V
public net.minecraft.client.gui.components.WidgetTooltipHolder createTooltipPositioner(Lnet/minecraft/client/gui/navigation/ScreenRectangle;ZZ)Lnet/minecraft/client/gui/screens/inventory/tooltip/ClientTooltipPositioner;

public net.minecraft.client.multiplayer.ClientPacketListener setKeyPair(Lnet/minecraft/world/entity/player/ProfileKeyPair;)V